@import 'partials/variables';
@import 'partials/btn';
@import 'partials/navs';
@import 'partials/masonry';
@import 'partials/cards';
@import 'partials/layout';
@import 'partials/padding';
@import 'partials/sliders';
@import 'partials/ownerDetails';
@import 'partials/typography';
@import 'partials/avartar';
@import 'partials/_header';
@import 'components/saveAndshare';

.ant-layout {
  min-height: 100vh;
  min-width: 100% !important;
  background: #bcc1c7;
}
body,
.ant-layout {
  background-color: white;
}
.ant-modal-header {
  text-align: center;
}
.footer {
  text-align: center;
  background-color: #231f1f;
  color: white;
  height: 230px;
}
.footer-newsletter {
  background-color: $primary;
  color: white;
  h2 {
    color: white;
  }
}
.copyright-para {
  margin: 8px;
}

#space-icon {
  font-size: 20px;
  margin: 8px;
}

#space-links {
  margin: 8px;
}
//repetitive css here @todo optimizations
.dot-facebook {
  height: 30px;
  width: 30px;
  background-color: #4267b2;
  border-radius: 50%;
  display: inline-block;
}

.dot-twitter {
  height: 30px;
  width: 30px;
  background-color: #1c9cea;
  border-radius: 50%;
  display: inline-block;
}
.dot-linkedin {
  height: 30px;
  width: 30px;
  background-color: #1c9cea;
  border-radius: 50%;
  display: inline-block;
}
.dot-instagram {
  height: 30px;
  width: 30px;
  background-color: #f77737;
  border-radius: 50%;
  display: inline-block;
}
.dot-youtube {
  height: 30px;
  width: 30px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}
.dot-mail {
  height: 30px;
  width: 30px;
  background-color: #db4437;
  border-radius: 50%;
  display: inline-block;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  margin-left: 22px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}

.loginBtn:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png')
    6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}

.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png')
    6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
// ================ Maaz styling ==============
.ant-menu-item .btn_post:hover {
  color: #fff;
}
.ant-menu-submenu-title:hover {
  border: 0px;
}
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: 0px !important;
  vertical-align: middle !important;
}
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 13px !important;
}
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon:hover {
  color: #fff;
}

div.ant-modal-title:after {
  content: '' !important;
  width: 140px;
  border: 1px solid #ec2a8b;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 47px;
}
.ant-modal-header {
  border: 0;
}
//  Product-Category styling ==============
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: black;
  border-bottom: 0px !important;
}
.main-filter {
  .ant-card-head {
    background-color: black !important;
    .ant-card-head-title {
      color: white;
    }
  }
  .ant-card-body {
    padding: 0;
    .ant-list-item {
      margin: 0;
      padding: 8px 12px;
      border-bottom: 1px solid rgb(232, 232, 232);
      // &:last-child{
      //   border-bottom:none;
      // }
    }
  }
}
.ant-select-selection {
  border-radius: 0px;
}
.ant-list-item {
  > a {
    color: #999999;
    font-weight: 500;
    padding: 5px;
    line-height: 35px;
  }
}
.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}
.product_nav {
  float: right !important;
}
.product-nav-width {
  width: 70%;
  height: fit-content;
  margin-left: 5%;
}
.side_nav {
  width: 100%;
  min-height: 58px !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.card-style {
  margin-bottom: 7%;
}
.nav_style {
  background-color: transparent;
  color: black;
  border: none;
  font-weight: 500;
  > .ant-menu-item {
    border-radius: 5px;
    border: none;
    &:hover {
      text-decoration: none;
      background-color: #ec2a8b;
      color: white !important;
      border-radius: 5px;
      border: none;
    }
  }
}

.ant-card {
  color: #000000;
  font-size: 15px;
  line-height: 1.8;
}
.ant-card-meta-description {
  text-overflow: ellipsis;
  max-width: 95%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.product_card_bottem {
  margin-left: 20px !important;
  cursor: pointer !important;
}
// 

.product_card {
  margin: 0px 5px !important;
}
.container_bottem {
  padding: 0px 20px;
}
.address_time {
  width: 100%;
  color: gray;
}
.address {
  text-overflow: ellipsis;
  width: 85%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.icon_nearby {
  background: #ad1457;
  padding: 8px;
  border-radius: 50%;
}