@import 'partials/variables';
@import 'partials/btn';
@import 'partials/navs';
@import 'partials/masonry';
@import 'partials/cards';
@import 'partials/layout';
@import 'partials/padding';
@import 'partials/sliders';
@import 'partials/ownerDetails';
@import 'partials/typography';
@import 'partials/avartar';
@import 'partials/_header';
@import 'components/saveAndshare';

.ant-layout {
  min-height: 100vh;
  min-width: 100% !important;
  background: #bcc1c7;
}
body,
.ant-layout {
  background-color: white;
}
.ant-modal-header {
  text-align: center;
}
.footer {
  text-align: center;
  background-color: #231f1f;
  color: white;
  height: auto;
}
.footer-newsletter {
  background-color: $primary;
  color: white;
  h2 {
    color: white;
  }
}
.copyright-para {
  margin: 8px;
}

#space-icon {
  font-size: 20px;
  margin: 8px;
  flex-wrap: wrap;
}

#space-links {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
//repetitive css here @todo optimizations
.dot-facebook {
  height: 30px;
  width: 30px;
  background-color: #4267b2;
  border-radius: 50%;
  display: inline-block;
}

.dot-twitter {
  height: 30px;
  width: 30px;
  background-color: #1c9cea;
  border-radius: 50%;
  display: inline-block;
}
.dot-linkedin {
  height: 30px;
  width: 30px;
  background-color: #1c9cea;
  border-radius: 50%;
  display: inline-block;
}
.dot-instagram {
  height: 30px;
  width: 30px;
  background-color: #f77737;
  border-radius: 50%;
  display: inline-block;
}
.dot-youtube {
  height: 30px;
  width: 30px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}
.dot-mail {
  height: 30px;
  width: 30px;
  background-color: #db4437;
  border-radius: 50%;
  display: inline-block;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  margin-left: 22px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}

.loginBtn:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png')
    6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}

.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png')
    6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
// ================ Maaz styling ==============
.ant-menu-item .btn_post:hover {
  color: #fff;
}
.ant-menu-submenu-title:hover {
  border: 0px;
}
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: 0px !important;
  vertical-align: middle !important;
}
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 13px !important;
}
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon:hover {
  color: #fff;
}

div.ant-modal-title:after {
  content: '' !important;
  width: 140px;
  border: 1px solid #ec2a8b;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 47px;
}
.ant-modal-header {
  border: 0;
}
//  Product-Category styling ==============
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: black;
  border-bottom: 0px !important;
}
.main-filter {
  .ant-card-head {
    background-color: black !important;
    .ant-card-head-title {
      color: white;
    }
  }
}
.container_bottem {
  .ant-list-items {
    display: flex;
    flex-wrap: wrap;
    // &:last-child{
    //   border-bottom:none;
    // }
  }
}
.ant-select-selection {
  border-radius: 0px;
}
.ant-list-item {
  > a {
    color: #999999;
    font-weight: 500;
    padding: 5px;
    line-height: 35px;
  }
}
.container {
  max-width: 1200px !important;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}
.product_nav {
  float: right !important;
}
.product-nav-width {
  width: 70%;
  height: fit-content;
  margin-left: 5%;
}
.side_nav {
  width: 100%;
  min-height: 58px !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.card-style {
  margin-bottom: 7%;
}
.card-style {
  .ant-spin-container {
    justify-content: flex-start !important;
  }
}
.card-style {
  .ant-card-body {
    padding: 0px !important;
  }
  .ant-row {
    width: 100%;
    .ant-list-item {
      border-bottom: 1px solid gainsboro;
      padding: 8px;
    }
  }
}

.nav_style {
  background-color: transparent;
  color: black;
  border: none;
  font-weight: 500;
  display: flex !important;
  flex-wrap: wrap;
  // flex-direction: column;
  > .ant-menu-item {
    border-radius: 5px;
    border: none;
    margin-right: 3px;
    &:hover {
      text-decoration: none;
      background-color: #ec2a8b;
      color: white !important;
      border-radius: 5px;
      border: none;
    }
  }
}
.ant-spin-container {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.ant-card {
  color: #000000;
  font-size: 15px;
  line-height: 1.8;
}
.ant-card-meta-description {
  text-overflow: ellipsis;
  max-width: 95%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.product_card_bottem {
  margin-left: 20px !important;
  cursor: pointer !important;
}
//

.product_card {
  margin: 0px 5px !important;
}
.container_bottem {
  padding: 0px 20px;
  flex-wrap: wrap;
}
.address_time {
  width: 100%;
  color: gray;
}
.address {
  text-overflow: ellipsis;
  width: 85%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.icon_nearby {
  background: #ad1457;
  padding: 8px;
  border-radius: 50%;
}
// tile styling

li.ant-list-item {
  border-bottom: 0px !important;
}

// position: absolute;
//     display: grid;
//     transform: translateX(-50%);
//     grid-template-columns: repeat(auto-fill, var(--card-width));
//     grid-auto-rows: var(--row_increament);
//     justify-content: center;
.filter_main {
  .ant-spin-container {
    .ant-list-items {
      width: 100%;
    }
  }
  .ant-form-item {
    margin: 0px;
  }
}
ul li:first-child .ant-menu-submenu-title {
  padding: 0px;
  span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 5px;
    height: 3px !important;
    color: transparent;
    width: 38px;
    &:before {
      width: 100%;
      height: 5px;
      background-color: #000;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 5px;
      height: 3px !important;
      content: '';
      position: absolute;
      left: 0;
      top: -9px;
    }
    &:after {
      width: 100%;
      height: 5px !important;
      background-color: #000;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 5px;
      height: 3px !important;
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
    }
  }
}
.product_card.ant-card.ant-card-bordered.ant-card-hoverable {
  height: 230px !important;
  width: 200px !important;
  margin: 3px;
}

// .ant-spin-container {
// 	& > .ant-row {
// 		display: flex !important;
// 	}
// }
.ant-card-cover {
  img {
    background-size: cover;
    max-height: 130px !important;
    object-fit: cover;
  }
}
@media only screen and (max-width: 768px) {
  .header_nav {
    color: black;
  }
  .post_txt {
    color: white;
  }
  .text-capitalize,
  .nearby_txt {
    color: black;
  }
  .product_card.ant-card.ant-card-bordered.ant-card-hoverable {
    height: 170px !important;
    width: 150px !important;
    margin: 3px;
    .ant-card-body {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  li.ant-menu-item {
    height: auto !important;
    min-height: 40px;
  }
  .ant-layout-header,
  .ant-layout-footer {
    padding: 0 20px !important;
  }
  .ant-input-group > .ant-input:last-child,
  .ant-input-group-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .ant-input-group-addon:last-child {
    border-left: 0;
  }
  span.ant-input-group-addon {
    display: block;
    clear: left;
    width: 100%;
    border: none;
    padding-top: 12px !important;
    font-size: 12px !important;
    .ant-btn {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  .msg_heading {
    font-size: 15px;
  }
  .ant-spin-container {
    & > .ant-row {
      & > .ant-col-3 {
        width: 100% !important;
      }
    }
  }
  .footer-newsletter {
    .ant-row-flex {
      .ant-col {
        margin: 5px;
        text-align: center;
        width: 100%;
        .ant-input-group-addon {
          width: fit-content;
          background: transparent;
          float: right;
        }
      }
    }
  }
}
.ant-spin-container {
  & > .ant-row {
    & > .ant-col-3 {
      padding-left: 8px;
      padding-right: 8px;
      /* width: 100%; */
      width: fit-content;
      /* display: flex; */
      justify-content: center;
    }
  }
}
.ant-spin-container {
  & > .ant-row {
    & > .ant-col-3 {
      & > div {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

// @media only screen and (min-width: 769px) {
//   .header_nav {
//     color: black;
//   }
//   .post_txt {
//     color: white;
//   }
//   .text-capitalize,
//   .nearby_txt {
//     color: black;
//   }
//   .produce_card {
//     min-height: 170px;
//     max-width: 150px;
//     margin: 3px;
//   }
// }
// component Message, msg-list
// ul.ant-list-items {
//   overflow-y: scroll;
//   max-height: 360px;
//   min-height: 360px;
// }
.msg_container {
  max-width: 1200px !important;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background: rgb(240, 240, 240);
  padding: 10px;
  margin-bottom: 20px;
}
.section_scrollable {
  position: relative;
  margin-left: -5px;
}
.msg_list {
  overflow-y: scroll;
  min-height: 410px;
}
.message_left {
  max-height: 500px;
  width: 25% !important;
  float: left;
  min-height: 500px;
  padding: 5px;
  border-right: 1px solid gainsboro;
  position: relative;
  margin-left: -5px;
}
.left-inner {
  background-color: gainsboro;
  border-radius: 5px;
  border: 3px solid rgb(196, 196, 196);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3px;
  flex-wrap: wrap;
}
.name_message {
  display: flex !important;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
}
.msg_heading {
  text-align: center;
  margin: 17px 0px;
}
.show_message {
  text-overflow: ellipsis;
  width: 75%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.message_right {
  padding: 20px;
  float: right;
  width: 75% !important;
  min-height: 500px;
}
.avatar_right {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}
.comment-list {
  display: flex;
}
.msg_avatar {
  width: 40px;
  height: auto;
  border-radius: 50px;
}
.msg_text_area {
  > .msg_area {
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  bottom: 5px;
}
.msg_para {
  border-radius: 3px;
  padding: 5px 10px;
  background: #d1d1d1;
}
.filter_main {
  .ant-spin-container {
    .ant-list-item {
      justify-content: space-evenly;
      margin: 4px;
      .text-capitalize {
        font-size: medium;
      }
    }
  }
}
.container-main {
	& > .ant-list-grid {
		.ant-col {
			& > .ant-list-item {
				margin-bottom: 0px !important;
			}
		}
	}
}
