.container-buy-now {
  width: 70%;
  h2 {
    font-size: 18px;
  }
  h1 {
    font-weight: 700;
    font-size: 23px;
  }
  .buy-slider-detail {
    align-items: center;
    color: #000;
    .purchase_img_slider {
      width: 40%;
      img.img-fluid {
        height: 25%;
      }
    }
    h2 {
      margin: 0px 30px;
      font-weight: 700;
      font-size: 22px;
    }
  }
  .purchase-content {
    font-size: 13px;
    line-height: 35px;
  }
  .shipping-option,
  .payment-method-option,
  .item-price-tag,
  .shipping-price-tag,
  .sales-tax-tag,
  .payed-tag {
    display: flex;
    justify-content: space-between;
  }
  .btn-add {
    font-weight: 700;
    font-size: 20px;
    color: $primary;
    &:hover {
      color: black !important;
    }
  }
  .buy-price {
    line-height: 50px;
    margin: 0;
  }
  .payed-tag {
    h2 {
      font-size: 21px;
    }
  }
  .shipping-option {
    font-weight: 700;
  }
  .protect-payment-main {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 15px;
      color: #000;
      a {
        color: $primary;
      }
    }
  }
  .label-confirm-purchase {
    font-size: 15px;
    color: #000;
    a {
      color: $primary;
    }
  }
  .confirm-purchase-main {
    text-align: center;
    line-height: 55px;
    .btn.ant-btn {
      width: 50%;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
// ---------------------------- add-shipping's styling ---------------------

.container-shipping {
  width: 70%;
  input.ant-input {
    height: 45px;
  }
  h1 {
    font-weight: 700;
    font-size: 23px;
  }
  .shipping-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    a {
      color: #000;
      font-size: 18px;
    }
  }
  label {
    color: #000;
    font-weight: 600;
    font-size: 18px;
  }
  .btn-ship {
    text-align: center;
    .btn.ant-btn {
      width: 50%;
      margin-top: 50px;
    }
  }
  .basic-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-city {
      width: 60%;
    }
    .item-state {
      width: 35%;
    }
  }
  .item-zip {
    width: 30%;
  }
}
// ---------------------------- payment-method's styling ---------------------

.container-pay-method {
  width: 70%;
  position: relative;
  min-height: 100vh;
  h1 {
    font-weight: 700;
    font-size: 23px;
  }
  h3 {
    color: #000;
    font-weight: 400;
    font-size: 17px;
  }
  .pay-method-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    a {
      color: #000;
      font-size: 18px;
    }
  }
  input.ant-input {
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #dedede;
  }
  .byVisa-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
  }
  .byVisa-inner-div {
    display: inline-block;
    margin-left: 25px;
  }
  .ant-radio-input {
    border: 1px solid gray;
  }
  .bycredit-main {
    display: flex;
    justify-content: space-between;
    a {
      background: none;
      border: none;
      font-size: 26px;
      font-weight: 800;
      color: gray;
      cursor: pointer;
    }
  }
  .pay-devider {
    border: 1px solid gainsboro;
    background: gainsboro;
  }
  .btn-use-card {
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 50px;
    button {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
// ---------------------------- card-payment -----------------------------
.card-payment {
  // min-height: 100vh;
  width: 70%;
  .byCard-header {
    font-weight: 700;
    font-size: 23px;
  }
  input.ant-input {
    height: 45px;
  }
  .card-detail {
    justify-content: space-between;
  }
  .secure-info {
    color: #b0b0b0;
    margin-left: 10px;
  }
  label {
    color: #000;
    font-weight: 600;
    font-size: 18px;
  }
  .byCard-intro {
    a {
      color: $primary !important;
    }
  }
  .btn-card-payment {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 15px 0px;
    button {
      width: 50%;
    }
  }
  .btn-powered {
    margin-top: 12px;
    background-color: transparent;
    border: 1px solid grey !important;
    cursor: pointer;
    border-radius: 5px;
  }
}
.confirm-pay {
  h1 {
    font-size: 32px;
    font-weight: 700;
  }
  p {
    color: #000;
    font-size: 16px;
  }
}
@media screen and (max-width: 426px) {
  .container-buy-now {
    padding: 0px !important;
    h1 {
      font-size: 25px;
    }
    .detail-slider.purchase_img_slider {
      width: 100%;
    }
    h2.buy-price {
      text-align: center;
      width: 100%;
    }
    .protect-payment-main {
      flex-direction: column;
      h2 {
        font-size: 16px;
        line-height: 20px;
      }
      p {
        font-size: 12px;
        line-height: 20px;
      }
    }
    .confirm-purchase-main {
      text-align: center;
    }
    .stripe-pay-main {
      button {
        font-size: 14px;
        width: 100%;
      }
    }
    .label-confirm-purchase {
      line-height: 22px;
      font-size: 13px;
    }
  }
  .footer {
    #space-links {
      width: 100%;
    }
  }
}
