.profile-uploader {
  .ant-upload {
    border-radius: 50%;
  }
  .ant-upload-select-picture-card {
    height: 118px;
    width: 150px;
    // height: 150px;
    margin: auto;
    float: none;
  }
  img {
    max-width: 100px;
  }
}
