.ant-btn-primary{
@extend .primary-btn-base;
    &:active,&:hover, &:focus{      
        @extend .primary-btn-base;
    }
}

.primary-btn-base{
    background-color: $primary;
    border-color: $primary;
}

.btn-secondary{
    background-color: $secondary;
    color:white;
}