.header {
  .no-hover-nav.search-bar {
    height: auto;
  }
  #menuToggle {
    input {
      display: none;
    }
  }
  height: auto;
  // padding-right: 0px !important;
  .header_nav {
    border: 0;
    box-shadow: none;
    max-width: 100% !important;
    align-items: center;
    display: flex;
    font-weight: 500;

    width: 100%;
    justify-content: right;
  }
  .ant-dropdown-link {
    color: #fff;
    margin: 0px 6px;
  }

  .search-bar {
    .ant-input:focus {
      box-shadow: inherit;
    }
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
    #search-input {
      padding: 25px 15px 25px 35px;
      color: white;
      min-width: 300px;
    }
    .ant-input-group-addon,
    #search-input {
      background-color: #bb126775;
    }
    .ant-btn-primary {
      box-shadow: none;
      border: 0;
      background-color: transparent;
      color: rgba(233, 233, 233, 0.952);
    }

    .ant-input,
    .ant-divider,
    .ant-input-group-addon,
    .ant-input:hover {
      border-color: #0e0e0e2e;
    }
    .ant-divider-vertical {
      height: 50px;
      background-color: #0e0e0e2e;
    }
    .active {
      color: white;
    }
    .go-btn {
      background-color: #bb126775;
      color: white;
    }
  }

  // Maaz Styling //
  .ant-menu-item {
    border: none !important;
  }
  
  header .ant-menu-horizontal .ant-menu-item:hover,
  .ant-menu-item div:hover {
    text-decoration: none;
    color: black;
  }
  .ant-menu-submenu-title {
    padding: 0px !important;
  }
}
.header-menu {
  .ant-menu-submenu-arrow {
    display: none;
  }
}
.ant-menu-horizontal {
  > .ant-menu-item {
    vertical-align: middle !important;
  }
}
.category-dropdown {
  width: 210px;
}
.ant-dropdown {
  .ant-dropdown-menu {
    .menu-category-heading {
      cursor: context-menu;
      font-weight: 700;
      color: #000;
      &:hover {
        background-color: #fff;
      }
    }
  }
}
header {
  padding: 20px 30px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search-input {
  padding-left: 30px !important;
}
.icon_search {
  position: absolute;
  left: 14px;
  pointer-events: none;
  top: 19px;
  z-index: 9;
}
.btn_post {
  background-color: black !important;
  padding: 0px 20px;
  font-size: 13px;
  height: 40px;
  margin: 0px 8px;
  color: #fff !important;
  .plus_icon {
    margin-right: 0px;
  }
}

.go-btn {
  background: #ad1457;
}
.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: black !important;
}
.msg-box-main {
  .ant-tabs-nav-scroll {
    padding: 0;
    .ant-tabs-nav {
      padding: 5px;
      .ant-tabs-tab-active {
        color: $primary !important;
        background-color: transparent !important;
      }
      .ant-tabs-tab {
        margin: 0px 6px;
      }
      .ant-tabs-ink-bar {
        display: none !important;
      }
    }
  }
  .ant-tabs-nav-container {
    padding: 0px;
  }
  .btn-msg-box {
    border: none;
    background: none;
    cursor: pointer;
  }
  .notify-msg-box {
    position: absolute;
    z-index: 55;
    cursor: auto;
    background-color: #ededed;
    overflow: hidden;
    border-radius: 8px;
    width: 250px;
    padding: 5px 10px;
    .box-body {
      background-color: #fff;
      width: 100%;
      border-radius: 6px;
      padding: 10px;
    }
  }
}
