.header {
  .no-hover-nav.search-bar {
    height: auto;
  }
  #menuToggle {
    input {
      display: none;
    }
  }
  height: auto;
  // padding-right: 0px !important;
  .header_nav {
    border: 0;
    box-shadow: none;
    max-width: 100% !important;
    align-items: center;
    display: flex;
    font-weight: 500;

    width: 100%;
    justify-content: right;
  }
  .ant-dropdown-link {
    color: #fff;
    margin: 0px 6px;
  }

  .search-bar {
    .ant-input:focus {
      box-shadow: inherit;
    }
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
    #search-input {
      padding: 25px 15px 25px 35px;
      color: white;
      min-width: 300px;
    }
    .ant-input-group-addon,
    #search-input {
      background-color: #bb126775;
    }
    .ant-btn-primary {
      box-shadow: none;
      border: 0;
      background-color: transparent;
      color: rgba(233, 233, 233, 0.952);
    }

    .ant-input,
    .ant-divider,
    .ant-input-group-addon,
    .ant-input:hover {
      border-color: #0e0e0e2e;
    }
    .ant-divider-vertical {
      height: 50px;
      background-color: #0e0e0e2e;
    }
    .active {
      color: white;
    }
    .go-btn {
      background-color: #bb126775;
      color: white;
    }
  }

  // Maaz Styling //
  .ant-menu-item {
    border: none !important;
  }

  header .ant-menu-horizontal .ant-menu-item:hover,
  .ant-menu-item div:hover {
    text-decoration: none;
    color: black;
  }
  .ant-menu-submenu-title {
    padding: 0px !important;
  }
}
.header-menu {
  .ant-menu-submenu-arrow {
    display: none;
  }
}
.ant-menu-horizontal {
  > .ant-menu-item {
    vertical-align: middle !important;
  }
}
.category-dropdown {
  width: 210px;
}
.ant-dropdown {
  .ant-dropdown-menu {
    .menu-category-heading {
      cursor: context-menu;
      font-weight: 700;
      color: #000;
      &:hover {
        background-color: #fff;
      }
    }
  }
}
header {
  padding: 20px 30px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search-input {
  padding-left: 30px !important;
}
.icon_search {
  position: absolute;
  left: 14px;
  pointer-events: none;
  top: 19px;
  z-index: 9;
}
.btn_post {
  background-color: black !important;
  padding: 0px 20px;
  font-size: 13px;
  height: 40px;
  margin: 0px 8px;
  color: #fff !important;
  .plus_icon {
    margin-right: 0px;
  }
}

.go-btn {
  background: #ad1457;
}
.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: black !important;
}
.msg-box-main {
  .ant-tabs-nav-scroll {
    padding: 0;
    .ant-tabs-nav {
      padding: 5px;
      .ant-tabs-tab-active {
        color: $primary !important;
        background-color: transparent !important;
      }
      .ant-tabs-tab {
        margin: 0px 6px;
        border-bottom: 2px solid gainsboro;
      }
      .ant-tabs-ink-bar {
        display: none !important;
      }
    }
  }
  .ant-tabs-nav-container {
    padding: 0px;
  }
  .btn-msg-box {
    border: none;
    background: none;
    cursor: pointer;
  }
  .notify-msg-box {
    position: absolute;
    z-index: 55;
    cursor: auto;
    background-color: #f2f3f5;
    overflow: hidden;
    border-radius: 8px;
    width: 400px;
    padding: 5px 2px;
    .box-body {
      background-color: #fff;
      width: 100%;
      border-radius: 6px;
      padding: 10px;
    }
    .tabs-header {
      .ant-tabs-tab-active {
        margin: 0px 3px !important;
        border-radius: 0 !important;
        padding: 12px 16px !important;
        border-bottom: 2px solid $primary;
      }
      .ant-tabs-bar.ant-tabs-top-bar {
        border: 0 !important;
        margin: 0;
      }
    }
  }
}
@media only screen and (min-width: 426px) {
  .mob-nav {
    display: none !important;
  }
}
@media only screen and (max-width: 426px) {
  .header {
    .logo {
      display: none !important;
    }
    ul.header_nav {
      display: none;
    }
  }
  .mob-nav {
    background-color: $primary !important;
    .icon_search {
      color: black;
      position: absolute;
      left: 6px;
      top: 13px;
      /* align-items: center; */
      height: fit-content;
    }
    .msg-box-main {
      img {
        width: 23px;
      }
    }
    .search-bar {
      width: 100%;
      a {
        right: 10px;
        top: 0;
        svg {
          color: #000 !important;
        }
      }
      .icon_search {
        left: 22px;
      }
    }
    .ant-menu-item.ant-menu-item-active.ant-menu-item-selected {
      padding: 0px;
      background-color: transparent;
    }
    .nearby-main {
      width: 70px;
      height: 58px !important;
      margin: 0;
      padding: 0;
      width: fit-content;
      a {
        width: 60px;
        i.icon_nearby {
          position: absolute;
          width: 28px;
          height: 30px;
          margin: 0;
          svg {
            width: 13px;
          }
        }
        span {
          position: absolute;
          bottom: 0;
          /* width: 53px; */
          font-size: 11px;
        }
      }
    }
    // ########################
    .search-box {
      display: inline-flex;
      padding: 2px;
      border: 2px solid slategray;
      outline: none;
      border-radius: 30px;
    }
    .search-box:focus-within {
      /* IE11 WILL IGNORE BECAUSE IT IS NOT SUPPORTED */
      border-color: dodgerblue;
    }
    .search-box input {
      outline: none;
      border: none;
      width: 0;
      background-color: transparent;
      color: black;
      font-size: 16px;
      padding: 0;
      transition: width 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.33);
    }
    .search-box input::placeholder {
      color: lightgray;
    }
    .search-box:hover input,
    .search-box input:focus,
    .search-box input:valid {
      margin-left: 5px;
      width: 250px;
    }
    .search-box .icon_search {
      outline: none;
      border: none;
      cursor: pointer;
      background-color: slategray;
      padding: 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -webkit-appearance: none;
    }
    .search-box:focus-within .icon_search {
      /* can't combine selectors here because IE11 will whine */
      background-color: red;
    }
    .search-box input:focus + .icon_search {
      background-color: red;
    }
    .search-box input:valid + .icon_search {
      background-color: limegreen;
    }
  }
}
.notify-list {
  background: #fff;
  padding: 5px 3px;
  justify-content: space-between;
  .cmnt-box {
    width: 260px;
    display: flex;
    align-items: center;
  }
  .notify-text {
    // width: 193px;
    height: max-content;
    overflow-x: hidden;
    margin: 0px 5px;
    align-items: center;
  }
}

.notify-list .notify-text {
  white-space: pre-line;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow-x: hidden;
  margin: 9px 6px;
  padding: 15px 0px;
  line-height: 6px;
  align-items: center;
  word-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
}
.card-image{
  height: 200px;
}