.header {
  height: auto;
  .header_nav {
    border-bottom: 0;
  }

  .search-bar {
    .ant-input:focus {
      box-shadow: inherit;
    }
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
    #search-input {
      padding: 25px 15px 25px 35px;
      color: white;
      min-width: 300px;
    }
    .ant-input-group-addon,
    #search-input {
      background-color: #bb126775;
    }
    .ant-btn-primary {
      box-shadow: none;
      border: 0;
      background-color: transparent;
      color: rgba(233, 233, 233, 0.952);
    }
 
    .ant-input,
    .ant-divider,
    .ant-input-group-addon,
    .ant-input:hover {
      border-color: #0e0e0e2e;
    }
    .ant-divider-vertical {
      height: 50px;
      background-color: #0e0e0e2e;
    }
    .active {
      color: white;
    }
    .go-btn {
      background-color: #bb126775;
      color: white;
    }
  }

// Maaz Styling //
.ant-menu-item{
  border: none !important;
}
  header .ant-menu-horizontal .ant-menu-item a:hover,
  .ant-menu-item div:hover {
    text-decoration: none;
    color: black;
  }
}
.ant-menu-horizontal {
  > .ant-menu-item {
    vertical-align: middle !important;
  }
}

header {
  padding: 20px 60px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search-input {
  padding-left: 30px !important;
}
.icon_search {
  position: absolute;
  left: 32px;
  pointer-events: none;
  top: 21px;
  z-index: 9;
}
.btn_post {
  background-color: black !important;
  padding: 0px 20px;
  font-size: 13px;
  height: 40px;
  color: #fff !important;
}
.plus_icon {
  margin-right: 0px;
}
.go-btn {
  background: #ad1457;
}
