.p-1 {
    padding: .25rem;
}

.main-container{
    // max-width: 1200px;
    // width: 100%; default stylingof ant design 
    padding:0px;
}

.d-none{
    display: none;
}

// #REgion
header{
    .ant-btn-link, .nuxt-link-active,.ant-menu-dark .ant-menu-item > a,.ant-menu-horizontal > .ant-menu-item > a{
        color:white;
    }
   
}

.f-black{
    color:black;
    margin-bottom: 0;
}

.m-0{
    margin:0;
}

.center-container{
    max-width: 1200px;
       width: 100%;
       padding:20px;
       margin:auto
}

// ---product---
.product-grid{
 display: inline-block;
}

