.owner-detail {
  @extend .border;
  padding: 15px;
  .btn:first-child{
    margin-top:25px;
  }
  .btn {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.border{
  border: 1px solid #cac5c5;
}