.detail-slider {
  text-align: center;
  background-color: #fdf7f7;
  padding: 0px;
  min-height: 440px;

  .img-fluid {
    //   max-width:100%;
    // width: 100%;
    // max-height: 300px;
    // height: 100%;
  }
}
