.detail-slider{
    text-align: center;
    background-color: #fdf7f7;
    padding:15px;
    .img-fluid{
        max-width:300px;
        width: 100%;
        max-height: 300px;
        height: 100%;
    }
}